/*container*/
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/*top-wrapper*/
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(file:///C:/Users/fps46/Pictures/publicdomainq-0015654guj.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

/*top-wrapper h1*/
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
}

/*top-wrapper p*/
.top-wrapper  p {
    opacity: 0.7;
}

/*btn*/
.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
/*btn hover*/
  .btn:hover {
    opacity: 1;
  }

/*sign*/
.signin {
    background-color: #239b76;
  }

/*facebook*/
.facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }

/*google*/
.google {
    background-color: #d61021;
}

/*header-right*/
.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }

/*header-right hover*/  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

/*header-right a*/  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }  
